<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{siteTitle}} - {{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <p>
    We are in maintenance mode. We will be back soon, better than ever!
  </p>
  {{> footer}}
</body>
</html>